{% extends 'administrador/base_administrador.html' %}

{% block styles %}
{% endblock %}

{% block content %}
    {% include 'administrador/alerts.html' %}
    <div class="page-header">
        <div class="row">
            <!-- Page header, center on small screens -->
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
                <i class="fa fa-edit page-header-icon"></i>&nbsp;&nbsp;Administración de Categorias
            </h1>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <!-- "Create project" button, width=auto on desktops -->
                    <div class="pull-right col-xs-12 col-sm-auto">
                        <a href="{% url 'administrador:adicionar_categoria' %}">
                            <button class="btn  btn-labeled btn-primary" >
                               <span class="btn-label icon fa fa-plus"></span>
                                Adicionar Categoria
                            </button>&nbsp;&nbsp;
                        </a>
                    </div>
                    <!-- Margin -->
                    <div class="visible-xs clearfix form-group-margin"></div>
                    <!-- Search field -->
                </div>
            </div>
        </div>
    </div> <!-- / .page-header -->
    <!-- / Javascript -->
    <div class="panel">
        {% csrf_token %}
        <div class="panel-body">
            <div class="table-primary">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id Categoria</th>
                            <th>Nombre</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for categoria in categorias %}
                            <tr class="odd gradeX">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ categoria.id_categoria }}</td>
                                <td>{{ categoria.nombre }}</td>
                                <td>
                                    <div class="btn-group" >
                                        <a href="{% url 'administrador:visualizar_categoria' categoria.pk %}" class="btn btn-primary">
                                            <span class="btn-label icon fa fa-eye"></span>
                                            Visualizar
                                        </a>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-caret-down"></i>
                                        </button>

                                        <ul class="dropdown-menu" style="z-index: 100 !important;">
                                            <li>
                                                <a href="{% url 'administrador:modificar_categoria' categoria.pk %}">
                                                    <span class="btn-label icon fa fa-pencil"></span>
                                                    Modificar
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'administrador:borrar_categoria' categoria.pk %}">
                                                    <span class="btn-label icon fa fa-eraser"></span>
                                                    Borrar&nbsp;&nbsp;
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        init.push(function ()
        {
            $('#jq-datatables-example').dataTable();
            $('#jq-datatables-example_wrapper .table-caption').text('Listado de Usuarios');
            $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Buscar...');
        });
    </script>
{% endblock %}