{% load static %}

<!DOCTYPE html>
    <!--[if IE 8]>         <html class="ie8"> <![endif]-->
    <!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
    <!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>RYVATEC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <!-- Open Sans font from Google CDN -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
        <!-- Pixel Admin's stylesheets -->
        <link href="{% static 'stylesheets/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'stylesheets/pixel-admin.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'stylesheets/widgets.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'stylesheets/pages.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'stylesheets/rtl.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'stylesheets/themes.min.css' %}" rel="stylesheet" type="text/css">

        {% block styles %}
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="{% static 'javascripts/ie.min.js' %}"></script>
        <![endif]-->
    </head>

    <body class="theme-adminflare main-menu-animated">
        <div id="main-wrapper">
            <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
                <!-- Main menu toggle -->
                <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>

                <div class="navbar-inner">
                    <!-- Main navbar header -->
                    <div class="navbar-header">

                        <!-- Logo -->
                        <a href="" class="navbar-brand">
                            <div><img alt="Pixel Admin" src="{% static 'images/pixel-admin/main-navbar-logo.png' %}"></div>
                            Tecnico
                        </a>

                        <!-- Main navbar toggle -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

                    </div> <!-- / .navbar-header -->

                    <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                        <div>
                            <div class="right clearfix">
                                <ul class="nav navbar-nav pull-right right-navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                                            <span class="btn-label icon fa fa-user"></span>
                                            <span>{{ user.first_name }}&nbsp;{{ user.last_name }}</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{% url 'tecnico:perfil_tecnico' %}">
                                                    <i class="dropdown-icon fa fa-user"></i>&nbsp;&nbsp;Perfil
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{% url 'logout' %}">
                                                    <i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Cerrar Sesión
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> <!-- / .navbar-nav -->
                            </div> <!-- / .right -->
                        </div>
                    </div> <!-- / #main-navbar-collapse -->
                </div> <!-- / .navbar-inner -->
            </div> <!-- / #main-navbar -->
        <!-- /2. $END_MAIN_NAVIGATION -->
            <div id="main-menu" role="navigation">
                <div id="main-menu-inner">
                    <div class="menu-content top" id="menu-content-demo">
                        <div>
                            <div class="text-bg">
                                <span class="text-slim">Bienvenido,</span><br>
                                <span class="text-semibold">{{ user.first_name }}</span>
                            </div>
                            <img src="{% static 'images/usuario.jpg'%}" id="img_usuario" alt="Foto Usuario" style="background: white;">
                        </div>
                    </div>
                    <div>
                        <ul class="navigation">
                            <li>
                                <a href="{% url 'tecnico:home' %}">
                                    <i class="menu-icon fa fa-user"></i>
                                    <span class="mm-text">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'tecnico:proveedores' %}">
                                    <i class="menu-icon fa fa-user"></i>
                                    <span class="mm-text">Proveedores</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'tecnico:tecnicos' %}">
                                    <i class="menu-icon fa fa-user"></i>
                                    <span class="mm-text">Tecnicos</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'tecnico:quienes_somos' %}">
                                    <i class="menu-icon fa fa-user"></i>
                                    <span class="mm-text">Quienes Somos</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">
                                    <i class="menu-icon fa fa-power-off"></i>
                                    <span class="mm-text">Cerrar Sesion</span>
                                </a>
                            </li>
                        </ul> <!-- / .navigation -->
                    </div>
                </div> <!-- / #main-menu-inner -->
            </div> <!-- / #main-menu -->
        <!-- /4. $MAIN_MENU -->
            <div id="content-wrapper">

                {% block content %}
                {% endblock %}

            </div> <!-- / #content-wrapper -->
            <div id="main-menu-bg"></div>
        </div> <!-- / #main-wrapper -->
        <!-- Get jQuery from Google CDN -->
        <!--[if !IE]> -->
            <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
        <!-- <![endif]-->
        <!--[if lte IE 9]>
            <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
        <![endif]-->
        <!-- Pixel Admin's javascripts -->
        <script src="{% static 'javascripts/bootstrap.min.js' %}"></script>
        <script src="{% static 'javascripts/pixel-admin.min.js' %}"></script>
        <script>var init = [];</script>
        <script type="text/javascript">
            init.push(function () {});
            window.PixelAdmin.start(init);
        </script>
        {% block scripts %}
        {% endblock %}

    </body>
</html>