{% extends 'proveedor/base_crud_dispositivo.html' %}

{% block titulo_formulario_dispositivo %}
    <i class="fa fa-eraser page-header-icon"></i>&nbsp;Borrar Dispositico
{% endblock %}

{% block boton_accion_dispositivo %}
    <button type="submit" class="btn btn-primary">
        <span class="btn-label icon fa fa-eraser"></span>
        Borrar
    </button>
{% endblock %}

{% block scripts_crud %}
    <script>
        $('#form_dispositivo').find("input[type='text'], input[type='number'], input[type='file'], select, textarea").each(function (index, element)
        {
            $(element).prop('readonly', true);
            $(element).prop('disabled', true);
        });

        $('#form_dispositivo').find("select").each(function (index, element)
        {
            $(element).attr('style', 'pointer-events: none;');
        });
    </script>
{% endblock %}