{% extends 'base_home.html' %}

{% block content %}
    {% include 'alerts.html' %}
    <header style="width: 1100px; height: 200px; margin-left: 20px; margin-top: 20px;">
        <div style="float: left; width: 734px; height: 180px; margin-left: 10px; margin-top: 10px;">
            <h1 style="font-family: Helvetica; font-size: 24px; text-align: center; margin-top: 70px;">
                Reparacion Y Venta de Aparatos Tecnologicos(RYVATEC.com)
            </h1>
        </div>
        <div style="float: left; width: 331px; height: 180px; margin-left: 10px; margin-top: 10px; background-image: url(../static/demo/ORIGINAL.png);">
        </div>
    </header>
    <section style="width: 1100px; height: 636px; margin-left: 20px;">
        <div style="float: left; width: 1076px; height: 616px; margin-left: 10px; margin-top: 10px;">
            <h5 style="text-align: center; font-size: 18px;">
                Misión
            </h5>
            <p style="text-align: justify; font-size: 16px;">
                Somos una empresa independiente que se encarga de hacer más
                fácil la vida del cliente al momento de tener la necesidad
                o querer adquirir un elemento tecnológico, ser guiado por
                nosotros en este campo, con recomendaciones y sugerencias
                para el bien de la empresa y del cliente.
                Buscamos hacer que las personas que se encuentran interesadas
                en los elementos tecnológicos tengan mayor confianza al momento
                de adquirir uno de estos, recibiendo recomendaciones sobre el elemento
                a comprar, y guías sobre su manejo teniendo en cuenta experiencias de
                los demás usuarios (que se les puede hacer y que no).
                Nos encargamos de brindar confianza y seguridad al usuario que desea
                adquirir un elemento tecnológico, tendremos el apoyo de los mejores
                proveedores para el momento de comprar o recibir recomendaciones de
                dispositivos, en caso tal de tener ya un objeto tecnológico y necesite
                de su reparación o mantenimiento o por alguna razón se quiera (mejorar)
                tendremos el apoyo de los mejores técnicos encargados de brindar soporte
                a estos elementos tan necesarios, también podrás ser recomendado por el
                técnico en caso de mejoras (ventajas y desventajas de la mejora).
                En el momento de la compra el sistema en la interfaz de inicio tiene
                una opción que se llama “proveedores” la cual se encargara de llevar
                al usuario a la interfaz de proveedores, en la cual encontraras una
                lista de proveedores, al dar clic en el proveedor que tenga el dispositivo
                que te interese el sistema te llevara al perfil del respectivo proveedor,
                en el perfil del proveedor encontraras información para contactarte con él.
                En el momento de reparación, mantenimiento o mejora de un dispositivo ya adquirido, el sistema
                tiene la interfaz de técnicos en la cual encuentras una lista de técnicos en soporte, al darle clic
                a uno de los técnicos te llevara a ver el perfil de aquel técnico y encontraras información suficiente
                para contactarte con él. El porqué de desarrollar este trabajo es que en el día a día las personas son
                engañadas fácilmente por el medio digital, diversas razones nos dan el porqué,
                como las personas han perdido la confianza de estos medios, como las personas
                ya no tienen seguridad para las compras por internet y más.
            </p>
            <h6 style="text-align: center; font-size: 18px;">
                Visión
            </h6>
            <p style="text-align: justify; font-size: 16px;">
                Como empresa queremos que los clientes interesados nos vean como no solo una simple
                empresa sino como una comunidad unida en la cual se ayudan las personas que utilizan
                la tecnología en el día a día, dando recomendaciones tras las experiencias buenas y
                malas de cada uno con elementos tecnológicos. Queremos seguir desarrollando las mismas
                funciones pero ir escalando más y más, quizás implementando algunas funciones como
                comentarios de dispositivos para que los usuarios obtengan más información sobre
                dispositivos que puedan llegar a comprar y evitar que los usuarios se equivoquen al
                momento de comprar o mejorar un dispositivo, tener en cuenta que funciones pueden ser
                desarrolladas en el dispositivo y que no, llevándolos a tomar la mejor decisión.
                Se tiene como objetivo garantizar seguridad al cliente mediante labores desarrolladas
                de los demás usuarios (técnico y proveedor).
            </p>
        </div>
    </section>
    <footer style="width: 1100px; height: 132px; margin-left: 20px;">
        <div style="float: left; width:864px; height: 110px; margin-left: 10px; margin-top: 10px;" >
            <h5 style="float: left; margin-left: 10px; margin-top: 18px;">
                Trabaja con nosotros
            </h5>
            <h5 style="float: left; margin-left: 60px; margin-top: 18px;">
                Terminos y Condiciones
            </h5>
            <h5 style="float: left; margin-left: 60px; margin-top: 18px; ">
                Contactos<br />
                Telefono: <br />
                Celular: <br />
            </h5>
            <h5 style="float: left; margin-left: 100px; margin-top: 18px; ">
                Redes Sociales<br />
                Facebook: <br />
                Instagram: <br />
            </h5>
            <h3 style="margin-left: 10px; margin-top: 78px; font-family: Helvetica; font-size: 10px;">
                Copyright 2018-2019 RYVATEC.com
            </h3>
        </div>
        <div style="float: left; width: 200px; height: 110px; margin-top: 10px; margin-left: 10px; background-image: url(../static/demo/ORIGINAL-FOOTER.png);">
        </div>
    </footer>
{% endblock %}
