{% extends 'base_home.html' %}

{% block content %}
    {% include 'alerts.html' %}
    <header style="width: 1100px; height: 200px; margin-left: 20px; margin-top: 20px;">
        <div style="float: left; width: 734px; height: 180px; margin-left: 10px; margin-top: 10px;">
            <h1 style="font-family: Helvetica; font-size: 24px; text-align: center; margin-top: 70px;">
                Reparacion Y Venta de Aparatos Tecnologicos(RYVATEC.com)
            </h1>
        </div>
        <div style="float: left; width: 331px; height: 180px; margin-left: 10px; margin-top: 10px; background-image: url(../static/demo/ORIGINAL.png);">
        </div>
    </header>
    <section style="width: 1100px; height: 636px; margin-left: 20px; overflow: auto;">
        {% for tecnico in list_tecnicos  %}
            <div class="tecnico" style="float: left; width: 207px; height: 300px; margin-left: 10px; margin-top: 10px; overflow: auto;">
                <div style="position: center; width: 205.2px; height: 150px;">
                    <img src="{{ tecnico.imagen.url }}" style="width: 205px; height: 150px;">
                </div>
                Nombre: {{ tecnico.nombre }}<br />
                Apellido: {{ tecnico.apellido }}<br />
                Telefono: {{ tecnico.telefono }}<br />
                Direccion: {{ tecnico.direccion }}<br />
                Especialidad: {{ tecnico.especialidad }}<br />
                Correo: {{ tecnico.correo }}<br />
                Pagina Web <a href="http://{{ tecnico.pagina }}">{{ tecnico.pagina }}</a>
            </div>
        {% endfor %}
    </section>
    <footer style="width: 1100px; height: 132px; margin-left: 20px;">
        <div style="float: left; width:864px; height: 110px; margin-left: 10px; margin-top: 10px;" >
            <h5 style="float: left; margin-left: 10px; margin-top: 18px;">
                Trabaja con nosotros
            </h5>
            <h5 style="float: left; margin-left: 60px; margin-top: 18px;">
                Terminos y Condiciones
            </h5>
            <h5 style="float: left; margin-left: 60px; margin-top: 18px; ">
                Contactos<br />
                Telefono: <br />
                Celular: <br />
            </h5>
            <h5 style="float: left; margin-left: 100px; margin-top: 18px; ">
                Redes Sociales<br />
                Facebook: <br />
                Instagram: <br />
            </h5>
            <h3 style="margin-left: 10px; margin-top: 78px; font-family: Helvetica; font-size: 10px;">
                Copyright 2018-2019 RYVATEC.com
            </h3>
        </div>
        <div style="float: left; width: 200px; height: 110px; margin-top: 10px; margin-left: 10px; background-image: url(../static/demo/ORIGINAL-FOOTER.png);">
        </div>
    </footer>
{% endblock %}

